target/
**/*.rs.bk
*.swp
.DS_Store
proof.json
test_data.bin
**/*.log
nilchain/nilchaind
nilchain/.nilchain/
nilchaind
performance/.nilchain_perf/
_artifacts/
nilchain/nilchain_data/
nilchain/validator_key.json
validator_key.json
