target/
**/*.rs.bk
*.swp
.DS_Store
proof.json
test_data.bin
**/*.log
nilchain/nilchaind
nilchain/.nilchain/
nilchaind
performance/.nilchain_perf/
_artifacts/
dist/
nilchain/nilchain_data/
nilchain/validator_key.json
validator_key.json
libnil_core.dylib
.nilchain_retrieval
nil_s3/uploads/
uploads/sessions.db
.gemini
nil-website/test-results/
nil-website/playwright-report/
nil_bridge/broadcast/**/run-*.json
nil_bridge/cache/**/run-*.json
nil_bridge/cache/solidity-files-cache.json
nil_bridge/cache/test-failures
nil_bridge/cache/
nil_bridge/broadcast/
